header {
    background-color: blue;
    color: white;
    height: 100px;
}

footer{
    background-color: yellowgreen;
    color: white;
    height: 100px;
}


.content {
    background-color: yellow;
    color: rgb(173, 63, 63);
    height: 600px;
}

.Navi{
    background-color: green;
    color: white;
   
   
}

.home{
    background-color: black;
    color: aqua;
}